dotenv_if_exists .env

if [ ! -d ".venv" ]; then
    log_status "creating venv (--system-site-packages)"
    python3 -m venv --system-site-packages .venv
    .venv/bin/pip install -q -e '.[dev]'
fi

export VIRTUAL_ENV="$(pwd)/.venv"
PATH_add .venv/bin

export PYTHONPATH=$PYTHONPATH:$(pwd)/src
